@value colors: 'colors.module.css';
@value orangeText, whiteText, cream from colors;

.header {
    color: orangeText;
}

.bodyText {
    /*color: #6E6E6E*/
    color: whiteText;
    font-size: 16px;
}


.appBackground {
    background-color: cream;
}
