@value colors: '@/styles/colors.module.css';
@value orangeText, whiteText, cream from colors;

.header {
  color: orangeText;
  display: flex;
  align-content: center;
  align-items: center;
}

.link {
  color: orangeText;
}

.image {
  width: 12rem;
  height: 11rem;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
  filter: grayscale(30%);
  float: left;
}

.bodyText {
  /*color: #6E6E6E*/
  color: whiteText;
  font-size: 18px;
}
