@value colors: 'colors.module.css';
@value orangeText, whiteText, cream from colors;

.header {
    color: orangeText;
    display: flex;
    align-content: center;
    align-items: center;
}

.link {
    color: orangeText;
}

.image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
    filter: grayscale(80%);
}

.bodyText {
    /*color: #6E6E6E*/
    color: whiteText;
    font-size: 18px;
}


.appBackground {
    background-color: cream;
}
