@value colors: 'colors.module.css';
@value orangeText, whiteText, cream from colors;

.header {
    height: 2rem;
}

.nav {
    display: flex;
    list-style: none;
    color: orangeText;
    padding-left: 0;
}

.navElement {
    margin: 0 2rem 0 0rem;
}
