@value colors: 'colors.module.css';
@value orangeText, whiteText, cream from colors;

.list {
  margin: 0 1rem 0 0rem;
  list-style: none;
  color: whiteText;
}

.ghLink {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.divider {
  border-color: #229da6;
  width: 75%;
  margin: 1rem auto 1rem auto;
}

.header {
  color: #6ab4b3;
  /* color: #f8f2c9; */
  /* color: #e8ae53; */
}
